*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    background: #ffffff;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* Navbar */
.navbar{
    position: relative;
    z-index: 10;
    background-color: #333;
    height: 101px;
    display: flex;
    justify-content: space-evenly;
}

.container{
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 550px;
}

.logo img{
    height: 55px;
    filter: invert(1);
}

.menu a{
    color: #ffffff;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
    transition: color 0.3s;
}

.menu a:hover{
    color: #f52d2d;
}

/* Video */
.video-container {
    border-top: 2px solid black;
    border-bottom: 1px solid black;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 177.78%;
    height: 100vh;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border: none;
}

.video-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.15);
    pointer-events: none;
}

/* Seccion eventos */
.eventos{
    text-align: center;
    padding: 40px 20px;
}

.subtitulo{
    color: red;
    margin-bottom: 40px;
    font-weight: 700;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card{
    background: #222;
    color: #fff;
    padding: 20px;
    max-width: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.aviso{
    background: red;
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}

/* Heros */
.servicios{
    display: flex;
    justify-content: center;
    gap: 5%;
    padding: 40px 20px;
    background: #e0dfdf;
}

.hero-card img{ /* Imagen dentro de los heroes */
    width: 70px;
    filter: invert(1);
}

.hero-card{
    padding: 20px;
    background: #333;
    color: #e0dfdf;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    height: 150px;
    width: 300px;
    border-radius: 10px;
}

.hero-inner{ /* Separacion titulo/texto */
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Cards fiestas */
.evento-cards-section{
    margin-top: 15px;
    text-align: center;
    font-family: sans-serif;
}

.evento-cards-container{
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.evento-card{
    position: relative;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.evento-card:hover{
    transform: scale(1.05);
}

.evento-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.evento-card-overlay{
    position: absolute;
    bottom: 0;
    height: 120%;
    width: 100%;
    background: linear-gradient(to top, rgba(255, 128, 0, 0.3), transparent 40%);
    transition: background 0.5s ease;
}

.evento-card:hover .evento-card-overlay{
    background: linear-gradient(to top, rgba(255, 128, 0, 0.5), transparent 40%);
}

.evento-card p{
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: right;
    padding-right: 15px;
    font-weight: bold;
    font-size: 19px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    z-index: 2;
    text-decoration: overline 1.5px;
}

/* Instalaciones seccion */
.instalaciones{
    padding: 40px 20px;
    text-align: center;
    background-color: #ffffff;
}

.titulo{
    font-size: 2rem;
    margin-bottom: 5px;
}

.subtitulo{
    font-size: 1rem;
    margin-bottom: 20px;
    color: #555;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.container-img{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    grid-gap: 20px;
}

.galeria .box-img figure{
    width: 100%;
    height: 100%;
}

.galeria .box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.galeria .box-img:nth-child(1){
    grid-column-start: span 2;
}

.galeria .box-img:nth-child(4){
    grid-row-start: span 2;
}

.galeria img:hover{
    transform: scale(1.01);
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
    transition: all 0.2s;
}

/* Seccion formulario, info e iframe */
.contacto{
    padding: 40px;
    background-color: #f4f5f8;
}

.contacto__contenido{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-items: flex-start;
}

.formulario{
    flex: 1 1 400px;
    max-width: 500px;
}

.formulario h2{
    font-size: 2em;
    margin-bottom: 10px;
}

.formulario p{
    margin-bottom: 20px;
    color: #333;
}

.formulario form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-group{
    display: flex;
    gap: 10px;
}

.input-group input{
    flex: 1;
}

input, textarea{
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1em;
}

textarea{
    resize: vertical;
    min-height: 100px;
}

button{ /* Boton submit */
    background: #333333;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 1em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: all 0.3s ease;
}

button:hover{
    background-color: #333333;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    transform: translateY(-1px);
}

.informacion{ /* Casilla info */
    flex: 1 1 400px;
    max-width: 500px;
    position: relative;
    padding: 20px;
}

.info-box{
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    background: linear-gradient(145deg, #3a3a3a, #2c2c2c);
    padding: 24px;
    border-radius: 14px;
    color: #ffffff;
    margin-bottom: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

i.fas{
    vertical-align: middle;
    margin-right: 15px;
}

.info-box:hover{
    transform: scale(1.01);
    box-shadow: 0 3px 10px #333;
}

.info-box p{
    margin: 10px 0;
    font-size: 1.05em;
    line-height: 1.6;
    color: #f0f0f0;
}

.info-box p span{
    font-weight: bold;
    color: #d58e5d;
}

/* Seccion QR */
.qr{
    padding: 40px;
    background: #333;
}

.qr-container{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.qr-logo{
    filter: invert(1);
}

.qr-img{
    width: 50%;
}

.qr-info h3{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #fafafa;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

/* Footer */
.footer{
    background-color: #f4f5f8;
    padding: 40px 20px 20px;
    text-align: center;
    font-family: sans-serif;
}

.footer-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer-box{
    background-color: #f3f4f6;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 4px;
    min-width: 250px;
    transition: transform 0.3s ease;
    text-decoration: none;
}

.footer-box:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.footer-icon{
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.footer-box span{
    color: #333;
    font-size: 14px;
}

.footer-copy{
    font-size: 13px;
    color: #444;
}

/* MediaQuerys */
/*Tablet */
@media screen and (max-width: 800px){
    .galeria{
        width: 95%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-template-rows: 200px;
    }

    .galeria .box-img:nth-child(1){
        grid-column-start: span 1;
    }
}

/* Celular */
@media screen and (max-width: 500px){
    .galeria{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
    }

    .galeria .box-img img{
        height: 200px;
    }
}



